// 記得引入基本設定
@import '../base/base';

/*以下為測試用，可刪*/
.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $primary-blue;
    position: absolute;
    left: 0;
    bottom: -50%;
  }
}

main.main {
  width: 80dvw;
  min-height: 100dvh;
  padding: 20px 20px;
  margin-left: 20px;
  // display: flex;
  border: 3px solid $admin-aside-blue;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5),
    0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

// .btn-test-1 {
//   background-color: $primary-blue;
//   color: $test-red;
//   border: $normal-border;

//   &:hover {
//     background-color: $primary-blue-hover;
//     color: $font-normal-white;
//   }
// }

// .btn-test-2 {
//   background-color: $primary-gray;
//   color: $font-normal-black;
//   border: $normal-border;

//   &:hover {
//     background-color: $secondary-gray;
//     color: $font-normal-black;
//   }
// }

// .btn-test-3 {
//   background-color: $danger-red;
//   color: $font-normal-white;
//   border: $normal-border;

//   &:hover {
//     background-color: $danger-red-hover;
//     color: $font-normal-white;
//   }
// }

// .btn-test-jquery {
//   padding: 0.5rem;
//   background-color: $rank-yellow;
//   color: $font-normal-black;
//   border: $normal-border;
//   box-shadow: $shadow;
//   border-radius: $border-radius;
// }

// =============================================================================//
// start
.select-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-search:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-search:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

// =========================================
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table .thead-dark th {
  color: #fff;
  background-color: #4d4f52;
  border-color: #454d55;
}

.text-center {
  text-align: center !important;
}
.first {
  border-top-left-radius: 6px;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}

.last {
  border-top-right-radius: 6px;
}

.text-center {
  text-align: center !important;
}

.text-center {
  text-align: center !important;
}

tbody td {
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* added */
tbody {
  border-bottom: 1px solid #ddd;
}

/* Responsive table */
@media only screen and (max-width: 767px) {
  table {
    width: 100%;
    max-width: 100%;
  }
  thead {
    display: none;
  }
  tbody {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  tbody td {
    display: block;
    text-align: center;
    width: 50%;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

/* Hide table on small screens */
@media only screen and (max-width: 480px) {
  table {
    display: none;
  }
}

/* Lightbox */

.lightbox-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.lightbox-content.open {
  display: block;
}

.close-button {
  position: absolute;
  top: 10px; /* 距離燈箱內容頂部的距離 */
  right: 10px; /* 距離燈箱內容右側的距離 */
}

//========================== main-bottom
.mt-40 {
  margin-top: 40px;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 6px;
}

dl,
ol,
ul {
  margin-top: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.page__area {
  display: flex;
  justify-content: center;
}
