// // 記得引入基本設定
@import '../base/base';

//卡片裡文字
.card_word {
  float: right;
  max-width: 550px;
  margin: 0 10px 0 10px;
}
//卡片裡的標題
.card-title {
  font-weight: bold;
}

//卡片裡照片
.left_pic_style {
  // width: auto;
  // height: auto;
  border-radius: 10px; //圓角
  max-width: 50%;
  float: left;
  margin-right: 10px;
  width: 200px;
}

//顯示文字行
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

//展開/縮排 按鈕
.btn-primary {
  float: right;
}

//網址文字格式
.url_style {
  text-decoration: underline; //底線
  font-size: 12px;
}

//分頁
.page1 {
  display: flex;
  justify-content: center;
}

//卡片
.card {
  margin-bottom: 10px;
  -moz-box-shadow: 2px 2px 2px 2px #dadada;
  -webkit-box-shadow: 2px 2px 2px 2px #dadada;
  box-shadow: 2px 2px 2px 2px #dadada;
}

.tabs {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 10px;
}

.tab {
  background-color: #b3b2b2;
  border: none;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.tab.active {
  background-color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  display: none;
  padding: 10px;
  background-color: #007bff;
  border-radius: 0 10px 10px 10px; //圓角
  margin-bottom: 10px;
  // height: 60px;
}

.tab-content.active {
  display: block;
  margin-bottom: 10px;
  // -moz-box-shadow: 2px 2px 2px 2px #accefb;
  // -webkit-box-shadow: 2px 2px 2px 2px #accefb;
  // box-shadow: 2px 2px 2px 2px #accefb;
  // padding-left: 10px;
}

.tabs {
  display: flex;
  justify-content: left;
}

input[type='text'] {
  font-size: 14px; /* 提示文本字体大小 */
  width: 90%;
  // border-radius: 5px;
  // padding-left: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.div_style {
  border-style: solid;
  border-color: #ebebeb;
  border-radius: 10px;
  // margin: 0 auto;
}

h4 {
  background-color: #007bff;
  max-width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0 0;
}

t1 {
  display: flex;
  justify-content: center;
  float: left;
}

ul {
  margin: 0 8px 0 8px;
  padding: 0;
}

// a {
//   float: right;
//   margin: 0 5px 0;
// }
