// 記得引入基本設定
@import '../base/base';

/*以下為測試用，可刪*/
.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $primary-blue;
    position: absolute;
    left: 0;
    bottom: -50%;
  }
}

main.main {
  width: 80dvw;
  min-height: 100dvh;
  padding: 20px 20px;
  // display: flex;
  border: 3px solid $admin-aside-blue;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5),
    0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

.btn-test-1 {
  background-color: $primary-blue;
  color: $test-red;
  border: $normal-border;

  &:hover {
    background-color: $primary-blue-hover;
    color: $font-normal-white;
  }
}

.btn-test-2 {
  background-color: $primary-gray;
  color: $font-normal-black;
  border: $normal-border;

  &:hover {
    background-color: $secondary-gray;
    color: $font-normal-black;
  }
}

.btn-test-3 {
  background-color: $danger-red;
  color: $font-normal-white;
  border: $normal-border;

  &:hover {
    background-color: $danger-red-hover;
    color: $font-normal-white;
  }
}

.btn-test-jquery {
  padding: 0.5rem;
  background-color: $rank-yellow;
  color: $font-normal-black;
  border: $normal-border;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.nav-btn {
  padding: 10px 0 0 0;
  flex-wrap: nowrap;
  height: fit-content;
  margin-bottom: 20px;
}

@mixin button-body {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
  min-width: 10dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.ann-publish-btn {
  @include button-body;
}

.search-button {
  @include button-body;
}

.table-edit-button {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  min-width: 5dvw;
  height: 5dvh;
  margin: 2.5dvh;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.table-delete-button {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  min-width: 5dvw;
  height: 5dvh;
  margin: 2.5dvh;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.form-input {
  display: inline-block;
  font-size: 1rem;
  min-width: 13dvw;
  width: 13dvw;
  text-align: center;
  // margin-left: 1dvw;
  border-radius: $border-radius;
  padding: 9px 9px 9px 9px;
}

.ann-filter {
  display: flex;
  border: 3px solid $admin-aside-blue;
  font-size: 1.1rem;
  .ann-filter-one {
    text-align: center;
    line-height: 12dvh;
  }
  .ann-filter-one.head {
    font-weight: bolder;
  }
  .ann-filter-date {
    text-align: center;
  }
}

.ann-list {
  display: flex;
  border-top: 3px solid $admin-aside-blue;
  border-left: 3px solid $admin-aside-blue;
  border-right: 3px solid $admin-aside-blue;
  border-bottom: 1px solid $custom-gray;
  margin-top: 2dvh;
  height: 10dvh;
  font-size: 1.1rem;
  .ann-head {
    text-align: center;
    line-height: 10dvh;
    height: 10dvh;
    font-weight: bolder;
  }
}

.table-list {
  height: 50dvh;
  font-size: 1.1rem;
  border-left: 3px solid $admin-aside-blue;
  border-right: 3px solid $admin-aside-blue;
  border-bottom: 3px solid $admin-aside-blue;
  .tbody {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .tr {
      height: 10dvh;
      border-bottom: 1px solid $custom-gray;
      --bs-gutter-x: 0;
      &:hover {
        cursor: pointer;
        background-color: $primary-gray;
        opacity: 0.8;
      }
    }
    .tr:last-child {
      border-bottom: 0;
    }
    .td-height {
      line-height: 10dvh;
      vertical-align: middle;
    }
  }
}

.page {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 1%;
}

#reportrange {
  background-color: $white;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  margin-top: 2.4dvh;
  .span {
    font-size: 1rem;
  }
}

