// 記得引入基本設定
@import '../base/base';

/*以下為測試用，可刪*/
.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $primary-blue;
    position: absolute;
    left: 0;
    bottom: -50%;
  }
}

main.main {
  width: 80dvw;
  min-height: 100dvh;
  padding: 20px 20px;
  // display: flex;
  border: 3px solid $admin-aside-blue;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5),
    0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

.btn-test-1 {
  background-color: $primary-blue;
  color: $test-red;
  border: $normal-border;

  &:hover {
    background-color: $primary-blue-hover;
    color: $font-normal-white;
  }
}

.btn-test-2 {
  background-color: $primary-gray;
  color: $font-normal-black;
  border: $normal-border;

  &:hover {
    background-color: $secondary-gray;
    color: $font-normal-black;
  }
}

.btn-test-3 {
  background-color: $danger-red;
  color: $font-normal-white;
  border: $normal-border;

  &:hover {
    background-color: $danger-red-hover;
    color: $font-normal-white;
  }
}

.btn-test-jquery {
  padding: 0.5rem;
  background-color: $rank-yellow;
  color: $font-normal-black;
  border: $normal-border;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.form-input {
  display: inline-block;
  font-size: 1rem;
  min-width: 13dvw;
  width: 13dvw;
  margin-left: 20px;
  text-align: center;
  // margin-left: 1dvw;
  border-radius: $border-radius;
  // padding: 9px 9px 9px 9px;
}

.nowrap {
  white-space: nowrap;
}

.top-container-up {
  width: 100%;
  display: flex;
  .left-container {
    width: 50%;
    text-align: left;
  }
  .right-container {
    width: 50%;
    text-align: right;
  }
}

.top-container-down {
  width: 100%;
  display: flex;
  margin-top: 20px;
  .left-container {
    width: 50%;
    text-align: left;
  }
  .right-container {
    width: 50%;
    text-align: right;
  }
}

.custom-select {
  display: inline-block;
  margin-left: 5%;
  width: 45%;
}

@mixin button-body {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  width: 10dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-search {
  @include button-body();
}

.btn-query {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  min-width: 5dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-forbidden {
  border: none;
  background-color: $danger-red;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  min-width: 5dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-warning {
  border: none;
  background-color: $primary-gold;
  border-radius: 5px;
  color: $black;
  font-size: 1rem;
  min-width: 5dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.result-text {
  margin-left: 5%;
  margin-top: 2%;
  font-weight: bolder;
  color: $primary-blue;
}

.table-container {
  display: flex;
  width: 100%;
  min-height: 60dvh;
  margin-top: 1%;
  background-color: $secondary-gray;
  border-radius: $border-radius;
}

table {
  width: 90%;
  height: 10%;
  text-align: center;
  font-weight: 400;
  color: $white;
  margin: 5%;
  border: 1px solid black;

  td {
    color: $black;
  }
  tr {
    border: 1px solid $black;
  }
  tr:nth-child(2n + 1) {
    background-color: $primary-gray;
  }
  tr:nth-child(2n) {
    background-color: $secondary-gray;
  }
  thead tr:first-child {
    background-color: $primary-blue;
  }
  thead td {
    color: $white;
  }
}

tbody {
  height: 50%;
}

.data-text {
  line-height: 8dvh;
}
