// 記得引入基本設定
@import '../base/base';

/*以下為測試用，可刪*/
.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;

  &::after {
    content: '';
    height: 5px;
    width: 100%;
    background-color: $primary-blue;
    position: absolute;
    left: 0;
    bottom: -50%;
  }
}

main.main {
  width: 80dvw;
  min-height: 100dvh;
  padding: 20px 20px;
  // display: flex;
  border: 3px solid $admin-aside-blue;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5),
    0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

.btn-test-1 {
  background-color: $primary-blue;
  color: $test-red;
  border: $normal-border;

  &:hover {
    background-color: $primary-blue-hover;
    color: $font-normal-white;
  }
}

.btn-test-2 {
  background-color: $primary-gray;
  color: $font-normal-black;
  border: $normal-border;

  &:hover {
    background-color: $secondary-gray;
    color: $font-normal-black;
  }
}

.btn-test-3 {
  background-color: $danger-red;
  color: $font-normal-white;
  border: $normal-border;

  &:hover {
    background-color: $danger-red-hover;
    color: $font-normal-white;
  }
}

.btn-test-jquery {
  padding: 0.5rem;
  background-color: $rank-yellow;
  color: $font-normal-black;
  border: $normal-border;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

h3 {
  margin-top: 2%;
  font-weight: bolder;
}

h4 {
  font-weight: bolder;
}

.content-bg {
  width: 100%;
  min-height: 60dvh;
  margin-top: 2%;
  padding: 2%;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: $secondary-gray;
  border-radius: $border-radius;
  white-space: break-spaces;
}

.div-back-btn {
  margin-top: 20px;
  text-align: right;
}

.back-btn {
  // text-align: right;
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  padding: 1% 0;
  min-width: 10dvw;
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
