// 記得引入基本設定
@import '../base/base';

main {
  position: relative;
}

main * {
  font-size: 16px;
}

section:not(:first-child) {
  margin-top: 1rem;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;

  input {
    border: none;
    border-radius: $input-radius;
    box-shadow: $shadow;
    padding: 0 0.5rem;
  }

  * + * {
    margin-top: 0.5rem;
  }

  &__item {
    width: 40%;
  }

  &__date {
    width: 80%;
  }

  &__com {
    width: 80%;
  }

  &__no {
    width: 80%;
  }

  &__submit {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: $primary-blue;
    border-radius: $input-radius;
    color: $white;
    padding: 0.25rem 1rem;

    &:hover {
      background-color: $primary-blue-hover;
    }
  }
}

.list {
  text-align: center;

  thead {
    background-color: $primary-blue;
    color: white;
  }

  th#col__1 {
    width: 15%;
  }

  th#col__2 {
    width: 15%;
  }

  th#col__3 {
    width: 50%;
    text-align: left;
  }

  th#col__4 {
    width: 15%;
  }

  td.list__title {
    text-align: left;
  }

  .list__message {
    &:hover {
      background-color: rgb(208, 208, 208);
    }
  }
  // lightbox

  .lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lightbox__content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }

  .close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .button__detl {
    background-color: $primary-blue;
    color: white;
    border-radius: $border-radius;
    padding: 0.25rem 1rem;
    white-space: nowrap;
    border-style: none;

    &:hover {
      background-color: rgb(36, 37, 92);
    }
  }

  h2 {
    font-size: 28px;
    // text-align: left;
    font-weight: bolder;
  }

  p {
    text-align: left;
  }

  p.text__time {
    font-size: 12px;
  }

  .lightbox__text {
    padding: 10px;
  }

  &__order:nth-child(odd) {
    background-color: $secondary-gray;
  }
}

.button-search,
.button-publish {
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: $border-radius;
  padding: 0.25rem 1rem;
  white-space: nowrap;
  border-style: none;

  &:hover {
    background-color: rgb(91, 91, 91);
  }
}

.page {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  .pagination {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}

.page-link {
  color: $primary-blue;
}
.page-link:hover {
  color: $primary-blue; /* 懸停時文字顏色變色 */
}

.page-active {
  color: #495057;
}

.comment {
  position: absolute;
  width: 65%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  padding: 1rem;
  box-shadow: $shadow;
  background-color: $secondary-gray;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: none;
  box-shadow: 0 0 0 99999px rgba($color: #000000, $alpha: 0.8);

  &--on {
    display: block;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &__rank {
    width: 100%;
    display: flex;
    color: $rank-yellow;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    justify-content: center;
  }

  &__content {
    display: block;
    margin: 1rem auto;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    position: relative;
    width: 95%;
    height: 200px;
    padding: 0.5rem;
    resize: none;

    &::placeholder {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
      border: none;
      color: $white;
      padding: 0.5rem;
      border-radius: $border-radius;
    }
  }

  &__submit {
    width: 30%;
    background-color: $primary-blue;

    &:hover {
      background-color: $primary-blue-hover;
    }
  }

  &__cancle {
    width: 30%;
    background-color: $danger-red;

    &:hover {
      background-color: $danger-red-hover;
    }
  }
}
