// 記得引入基本設定
@import '../base/base';

// 主框框高度調整了一下
main {
  min-height: calc(100vh - 20px - 20px - 80px);
  padding: 1.1rem 0;
}

//===========================================
//aside====

.gift_searchresult {
  margin: 0 auto;
  width: 75%;
}

.collapse_collection {
  border: 1px solid #ddd; /* 設定邊框樣式 */
  padding: 10px; /* 設定邊框間距 */
}

.collapse_collection li {
  border-bottom: 1px dotted #ccc; /* 設定列表項目間的線條樣式 */
  padding: 15px 0; /* 設定列表項目的內邊距 */
  text-align: center;
  font-size: 1.18rem;
}

//========

.row {
  display: flex;
  flex-wrap: wrap;
}

.collection_title h1 {
  font-size: 1.8rem; /* 設定適當的字體大小值 */
  text-align: center;
}

.collection_title.row {
  margin-bottom: 40px;
}
.total_product {
  width: 20% !important;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

//============= 預設下拉選單

.item_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-3.select_item {
  display: flex;
  justify-content: center;
  width: 30% !important;
}

// .col-3.select_item select {
  // margin-left: auto;
// }

.custom_select {
  height: 80%; /* 調整為所需的高度 */
  width: 75%;
}

.select_item {
  align-items: center;
}

// select {
//   height: 100%;
// }

//照片排列
* {
  box-sizing: border-box;
}

.item_list li {
  flex-basis: calc(33.33% - 30px); /* 每行显示三张照片，计算每个项的宽度 */
  margin-bottom: 10px; /* 设置项之间的间距 */
}

.img_block {
  display: flex;
  justify-content: center;
}

.item_list li img {
  max-width: 100%; /* 自动缩放照片以适应容器大小 */
  height: auto; /* 保持照片宽高比 */
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div.top-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.collect_list .item_text {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

// .collect_list .item_list li a .item_text {
  // display: block;
  // border: 1px solid green;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
// }

//product price
.product_price {
  display: block;
  text-align: center;
}

.product_price .price {
  color: #ff674f;
  font-size: 18px;
  padding-right: 5px;
}

.product_price .comparable_price .money_tag {
  color: #a3a3a3;
  font-size: 0.9rem;
}

//分頁

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 6px;
}

dl,
ol,
ul {
  margin-top: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

//分頁 page

.page_area {
  display: flex;
  justify-content: center;
}
.page-link {
  color: #495057;
}
.page-link:hover {
  color: #495057; /* 懸停時文字顏色變色 */
}

.page-active {
  color: #495057;
}

// =====================燈箱效果=====================
div.item-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); // 半透明黑色背景
  z-index: 888;
  cursor: pointer;
}

div.item-mask.open {
  display: block;
}

.lightbox-content.open {
  display: flex;
}

.lightbox-content {
  display: none;
  position: fixed;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  background-color: #fff;
  padding: 20px;
  z-index: 999;
  // box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  text-align: left;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.close-button {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 10px; /* 距離燈箱內容頂部的距離 */
  right: 10px; /* 距離燈箱內容右側的距離 */
  border: none;
  background-color: $danger-red;
  color: $white;
  padding: 1rem;
  border-radius: $input-radius;
  box-shadow: $shadow;

  &::after {
    content: 'X';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.gift_cart_row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-6_custom {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px;
  min-width: 300px;
}
.col-6.content {
  padding: 20px;
  min-width: 300px;
}

//滑動照片=============================================

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

* {
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'Hei', sans-serif;
  word-break: break-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 滑動照片
// .swiper-slide,
// .swiper-wrapper {
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: center;
}

//=====================
.content h4 {
  color: black;
  font-weight: bold;
}

.content .brief {
  color: #495057;
  font-size: 14px;
}

.price_area .price_title {
  color: #495057;
  font-weight: bold;
}

.price_area .variant-price {
  color: #ff674f;
  font-size: 20px;
  padding-right: 10px;
}

.price_area .variant-del-price {
  color: #495057;
}

.product-variant-option .advance .option_select {
  color: #fff;
  background-color: #ff674f;

  display: inline-block;
  min-width: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 24px;
  // color: #ff674f;
  border: 1px solid #ff674f;
  border-radius: 5px;
  font-size: 14px;
}
.product-variant-option .advance .title {
  color: #495057;
  font-weight: bold;
}

div.remind {
  font-size: 0.8rem;
  text-align: end;
  color: $custom-gray-2;
}

.btn-group {
  width: 100%;
  min-width: 0px;

  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.product_quantity .btn {
  border: 1px solid #e2e2e2;
  height: 35px;

  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;

  position: relative;
  flex: 1 1 auto;
}

.add-button-wrapper .btn {
  display: block;
  background-color: #ff674f;
  border: solid 1px #ff674f;
  border-radius: 5px;
  color: #fff;
  height: 35px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.fav-btn {
  background-color: #ff674f;
  color: #ffffff;
  border: none;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 50%;
}

input.qty-input {
  width: 100%;
  text-align: center;
  border: none;
  border: 1px solid $secondary-gray;
}

/* 購物車小視窗 start */ 
li.cart {
  position: relative;
}

.show {
  display: block !important;
}

div.dropdown-cart {
  display: none;
  position: absolute;
  width: 300px;
  padding: 5px 0;
  left: auto !important;
  right: 0;
  font-size: 15px;
  margin: 0;
  top: 100% !important;
  z-index: 1000;
  text-align: left;
  background-color: $white;
  border: $custom-border;
}

div.cart-list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}

div.gift-item {
  display: flex;
  margin: 0 15px;
  padding: 10px 0;
  height: 70px;
}

div.gift-item:not(:first-child) {
  border-top: $custom-border;
}

div.gift-item > * {
  margin-right: 10px;
}

div.small-img {
  flex: 0 0 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  vertical-align: top;
}

div.small-img img {
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
}

div.item-info {
  width: 200px;
  display: flex;
  flex-direction: column;
}

div.item-info p {
  margin: 0;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.amount {
  align-self: flex-end;
}

div.cart-button {
  margin: 10px 15px;
}

a.btn-checkout {
  background-color: $price-color;
  border-color: $price-color;
  border-radius: $border-radius;
  color: $white !important;
  text-align: center;
  border-style: none;
  line-height: 38px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

a.btn-checkout:hover, a.btn-checkout:visited {
  color: $white !important;
}

div.if-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 5px 5px;
  background-color: $secondary-gray;
  border-radius: $border-radius;
}

div.if-empty div {
  font-size: 1.1rem;
  text-align: center;
}

/* 購物車小視窗 end */ 

/* 成功加入購物車確認 */
// 燈箱周圍的遮罩
div.success-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); // 半透明黑色背景
  z-index: 888;
}

div.add-success.show, div.success-mask.show{
  display: block;
}

div.add-success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  z-index: 999;
  text-align: center;
  border-radius: 10px;
}

div.success-icon {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
}

div.success-msg {
  margin: 25px 0;
  font-size: 1.5rem;
  text-align: center;
}

div.success-msg i {
  margin: 0 30px;
}

div.success-btn button {
  background-color: $admin-aside-blue;
  border-color: $admin-aside-blue;
  border-radius: $border-radius;
  color: $white;
  padding: 6px 60px;
  text-align: center;
}

/* 成功加入購物車確認 End */


/* input type=number時，取消旁邊的加減小箭頭 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* 外掛CDN的刪除單項視窗 */
div.swal-footer {
  text-align: center;
}

/* 外掛CDN的視窗 */
div.swal-button-container {
  margin: 0 25px;
}

/* To Top 按鈕 */
button.to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 1.1rem;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  background-color: $primary-green;
  color: $white;
  cursor: pointer;
  border-radius: $circle-radius;
  transition: background-color 0.3s;
}

button.to-top:hover {
  background-color: darken($primary-green, 20%);
}

/* To Top 按鈕 End */