// 記得引入基本設定
@import '../base/base';

.btn-test-1 {
  background-color: $primary-blue;
  color: $font-normal-white;
  border: $normal-border;

  &:hover {
    background-color: $primary-blue-hover;
    color: $font-normal-white;
  }
}

.btn-test-2 {
  background-color: $primary-gray;
  color: $font-normal-black;
  border: $normal-border;

  &:hover {
    background-color: $secondary-gray;
    color: $font-normal-black;
  }
}

.btn-test-3 {
  background-color: $danger-red;
  color: $font-normal-white;
  border: $normal-border;

  &:hover {
    background-color: $danger-red-hover;
    color: $font-normal-white;
  }
}

.btn-test-jquery {
  padding: 0.5rem;
  background-color: $rank-yellow;
  color: $font-normal-black;
  border: $normal-border;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.row.bu-gutter-x {
  --bs-gutter-x: 0rem !important;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .img-theme-div {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-theme {
      width: 100%;
      aspect-ratio: 3840 / 1080;
    }
  }

  .title-theme-div {
    position: absolute;
    padding-bottom: 20%;
    .title-theme {
      width: 60%;
      transform: translate(35%, 0);
    }
  }
}

.decorator-adv-news {
  width: 100%;
  background-color: $white;
  text-align: center;
  padding: 1%;
  font-weight: bold;
}

.decorator-lightbox {
  height: 2px;
  background-color: #006caa;
}

/*=======================slider======================*/

.slider,
.slider2,
.slider3,
.slider4 {
  @include slider-body();
}

.dIcon {
  position: absolute;
  top: 40%;
  transform: translate(0%, -80%);
  display: block;
  width: 21px;
  height: 35px;
}
.next {
  right: 0;
  background: url('../images/slider_right.png') no-repeat;
  background-size: cover;
}
.prev {
  left: 0;
  background: url('../images/slider_left.png') no-repeat;
  background-size: cover;
}

.left-title {
  width: 100%;
  display: flex;
  border-bottom: 5px solid $primary-blue;
  .left-title-area {
    display: flex;
    width: 10%;
    height: 40px;
    background-color: $primary-blue;

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .left-title-text {
      font-weight: bolder;
      color: $white;
      text-align: center;
      // white-space: nowrap;
    }
  }
}

.search-body {
  position: absolute;
  width: 70%;
  transform: translate(0, 30%);
}

@mixin tab-body {
  border: none;

  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $white;
  font-size: 2dvw;
  width: 10dvw;
  min-width: 100px;
  text-align: center;
  padding: revert;
}

button.tab-1 {
  background-color: rgba($color: $home-search-blue, $alpha: 0.7);
  @include tab-body;
}

button.tab-2 {
  background-color: $primary-gray;
  @include tab-body;
}

button.tab-3 {
  background-color: $primary-gray;
  @include tab-body;
}

.tab-body {
  display: flex;
  height: 20dvh;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: rgba($color: $home-search-blue, $alpha: 0.7);

  div.tab-1.left-container {
    display: block;
    width: 90%;
    height: 100%;
    .top-area {
      height: 50%;
    }
    .bottom-area {
      height: 50%;
    }
  }

  div.tab-2.left-container {
    display: none;
    width: 90%;
    height: 100%;
    .pos {
      width: 95%;
    }
  }

  .right-container {
    width: 10%;
    // min-width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fa-div {
  display: flex;
  position: relative;
  align-items: center;
  height: -webkit-fill-available;
}

div.fa-div i.fa.fa-search {
  position: absolute;
  margin-left: 20px;
  color: $fa-search-gray;
}

.fa-div .form-control {
  width: 100%;
  margin-left: 10px;
}
.fa-div .form-input {
  font-size: 1.5dvw;
  text-indent: 33px;
  border-radius: 10px;
}

.fa-div-2 {
  display: flex;
  position: relative;
  align-items: center;
  height: -webkit-fill-available;
}

div.fa-div-2 i.fa.fa-search {
  position: absolute;
  margin-left: 20px;
  color: $fa-search-gray;
}

.form-control {
  margin-left: 10px;
}
.fa-div-2 .form-control {
  width: 35%;
}
.fa-div-2 .form-input {
  font-size: 1.5dvw;
  text-indent: 33px;
  border-radius: 10px;
}

.custom-select {
  width: 20%;
  margin-left: 20px;
  padding: 0.375rem 0.75rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid $custom-gray;
  font-size: 1.5dvw;
  outline: none;
  color: $black;
}

.btn-query {
  border: none;
  background-color: $primary-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  min-width: 6dvw;
  height: 50%;
  aspect-ratio: 1/1;
  text-align: center;
  &:hover {
    background-color: $primary-blue-hover;
  }

  &:active {
    background-color: $primary-blue;
  }
}

.start-date-text {
  display: inline-block;
  margin-left: 10px;
  font-weight: bolder;
}

.end-date-text {
  display: inline-block;
  margin-left: 10px;
  font-weight: bolder;
}

/* Lightbox */

.lightbox-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  z-index: 999;
  box-shadow: 0 0 0 99999px rgba($color: #000000, $alpha: 0.6);
  text-align: left;
  align-items: center;
  border-radius: $border-radius;
  flex-direction: column;
  height: 90%;
  overflow-y: scroll;

  h2 {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    color: $primary-blue;
    font-size: 1.5rem;
    white-space: break-spaces;
    margin-top: 20px;
  }

  div {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    // border-bottom: 1px solid #ccc;

    p:nth-child(odd) {
      font-weight: bold;
    }
  }

  img {
    min-width: 90%;
    // min-height: 180px;
    // background-size: cover;
  }
}

.lightbox-content.open {
  display: flex;
}

.close-button {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 10px; /* 距離燈箱內容頂部的距離 */
  right: 10px; /* 距離燈箱內容右側的距離 */
  border: none;
  background-color: $danger-red;
  color: $white;
  padding: 1rem;
  border-radius: $input-radius;
  box-shadow: $shadow;

  &::after {
    content: 'X';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.chat {
  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
  z-index: 500;
  cursor: pointer;
}
