// // 記得引入基本設定
@import '../base/base';

//圖片虛線框
.picture_list {
  border-color: rgb(189, 189, 189);
  border-style: dashed;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  font-size: 15px;
}

.decorator2 {
  // border-style: solid;
  width: 100%;
  height: 5px;
  background-color: #006caa;
  margin: 20px 0 0 0;
}

.t2 {
  display: flex;
  justify-content: center;
}

/* 设置按钮的样式 */
.custom-button {
  // background-color: #4caf50; /* 设置背景颜色 */
  color: rgb(0, 0, 0); /* 设置文字颜色 */
  // padding: 10px 20px; /* 设置内边距 */
  border: none; /* 移除边框 */

  cursor: pointer; /* 设置鼠标样式为手型 */
  // border-radius: 5px; /* 设置边框圆角 */
}

.r1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.container2 {
  position: relative; /* 设置容器为相对定位 */
  width: 50%; /* 设置容器的高度为视窗的高度 */
  padding-top: 10px;
  display: flex; /* 使用弹性盒模型布局 */
  justify-content: flex-end; /* 将内容靠右对齐 */
  align-items: flex-end; /* 将内容靠下对齐 */
}

.btn-primary {
  background-color: #006caa;
}

img {
  width: 100%;
}
//景點說明
#scene_illustrate {
  // width: 100%;
  // height: 200px;
  // border: none;
  resize: none;
  font-size: 14px;
  line-height: 1;
  text-align: left;
}