@charset "UTF-8";
/* theme-color */
/* border */
/* effect */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-width: 640px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

main.main {
  width: 80dvw;
  min-height: calc(100vh - 20px - 20px - 16px - 80px);
  padding: 1.25rem;
  margin-bottom: 1rem;
  border: 3px solid #3d8ebd;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5), 0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.subtitle::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #006caa;
  position: absolute;
  left: 0;
  bottom: -50%;
}

.decorator {
  width: 100%;
  height: 20px;
  background-color: #006caa;
}

.header__container {
  width: 95%;
  max-height: 80px;
  padding: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nav__link {
  color: #333;
  font-weight: bold;
  position: relative;
}
.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #006caa;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all ease-in-out 0.1s;
}
.nav__link:hover a {
  color: #006caa;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__avatar {
  width: 40px;
  height: 40px;
}
.nav .dropdown-center {
  width: 100%;
  height: 100%;
}
.nav__avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.nav__avatar-img img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav__avatar-btn {
  width: 100%;
  height: 100%;
  border: none;
}
.nav__avatar-btn::after {
  border: none;
}
.nav__info {
  width: 40px;
  height: 36px;
}
.nav__info .dropdown-center {
  width: 100%;
  height: 100%;
}
.nav__info-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("../images/notify-normal.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.nav__info-btn::after {
  border: none;
}

.logo {
  width: 150px;
  padding: 1rem;
}
.logo__img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.custom-container div.company-aside {
  background-color: #3d8ebd;
  padding: 0;
  min-height: calc(100vh - 20px - 20px - 80px);
}

div.custom-container div.company-aside nav.nav-custom ul.nav_list {
  padding: 0;
  margin: 0;
}

div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a {
  display: block;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}
div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a:hover {
  background-color: #2e3a5b;
}
div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a:active {
  opacity: 0.8;
}

.user-aside {
  max-width: 200px;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdcdc;
  border-radius: 10px;
  box-shadow: 0 0 3px #9b9999;
  margin-bottom: 1rem;
  min-height: calc(100vh - 20px - 20px - 16px - 80px);
  white-space: nowrap;
}
.user-aside__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.user-aside__item {
  font-size: 20px;
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
}
.user-aside__item:hover {
  color: #fff;
  background-color: #006caa;
}
.user-aside__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}
.user-aside__item--small {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
  margin-left: 0.5rem;
  position: relative;
}
.user-aside__item--small:hover {
  color: #006caa;
}
.user-aside__item--small a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}

.html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.footer {
  width: 100%;
  height: 20px;
  bottom: 0;
  background-color: #006caa;
  color: white;
}

main {
  position: relative;
}

main * {
  font-size: 16px;
}

section:not(:first-child) {
  margin-top: 1rem;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px #9b9999;
  padding: 0 0.5rem;
}
.search__item {
  width: 100%;
}
.search__item p {
  display: inline-block;
}
.search__submit {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  border: none;
  background-color: #006caa;
  border-radius: 5px;
  color: #fff;
  padding: 0.25rem 1rem;
  align-self: flex-end;
}
.search__submit:hover {
  background-color: #004c77;
}

.tab {
  text-align: left;
  display: flex;
  white-space: nowrap;
}
.tab .tab-1 {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
  border-style: solid;
  font-size: 16px;
  padding: 0 0.5rem;
  background-color: #bbb8b8;
  border-color: #bbb8b8;
}
.tab .tab-2 {
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
  border-style: solid;
  padding: 0 0.5rem;
  background-color: #006caa;
  border-color: #006caa;
}

.list {
  text-align: center;
}
.list thead {
  background-color: #006caa;
  color: #fff;
}
.list #detail {
  background-color: #006caa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  white-space: nowrap;
}
.list #detail:hover {
  background-color: #004c77;
}
.list #comment {
  background-color: #006caa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  white-space: nowrap;
}
.list #comment:hover {
  background-color: #004c77;
}
.list__order:nth-child(odd) {
  background-color: #dfdcdc;
}

.page {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
.page .pagination {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.comment {
  position: fixed;
  width: 40%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  padding: 1rem;
  box-shadow: 0 0 3px #9b9999;
  background-color: #dfdcdc;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: none;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}
.comment--on {
  display: block;
}
.comment__title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.comment__rank {
  width: 100%;
  display: flex;
  color: #eeab0f;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.comment__rank i {
  font-size: 32px;
}
.comment__content {
  display: block;
  margin: 1rem auto;
  width: 100%;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 95%;
  height: 200px;
  padding: 0.5rem;
  resize: none;
}
.comment__content::-moz-placeholder {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.comment__content::placeholder {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.comment__btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.comment__btn button {
  border: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
}
.comment__submit {
  width: 30%;
  background-color: #006caa;
}
.comment__submit:hover {
  background-color: #004c77;
}
.comment__cancle {
  width: 30%;
  background-color: #be4b4b;
}
.comment__cancle:hover {
  background-color: #9d3939;
}

.lightbox {
  display: none;
  position: fixed;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  z-index: 999;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}
.lightbox__title {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
  color: #006caa;
  font-size: 2rem;
}
.lightbox__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 10px; /* 距離燈箱內容頂部的距離 */
  right: 10px; /* 距離燈箱內容右側的距離 */
  border: none;
  background-color: #be4b4b;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 3px #9b9999;
}
.lightbox__close::after {
  content: "X";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lightbox div.order-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 330px;
  overflow-y: auto;
}
.lightbox div.order-details div {
  width: 95%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}
.lightbox p {
  width: 140px;
  height: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}
.lightbox p:nth-child(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lightbox p:nth-child(2) {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lightbox p:nth-child(4) {
  font-weight: bold;
}

.active {
  display: flex;
}

tr.if-empty td {
  background-color: #dfdcdc;
  font-weight: bold;
}

/* 燈箱周圍的遮罩 */
div.lightbox-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 888;
  cursor: pointer;
}

div.lightbox-mask.active {
  display: block;
}

/* 燈箱周圍的遮罩 End */
/* 外掛CDN的視窗 */
div.swal-footer {
  text-align: center;
}

div.swal-button-container {
  margin: 0 25px;
}

/* To Top 按鈕 */
button.to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 1.1rem;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  background-color: #6ccccc;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

button.to-top:hover {
  background-color: #369c9c;
}

/* To Top 按鈕 End */