@charset "UTF-8";
/* theme-color */
/* border */
/* effect */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-width: 640px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

main.main {
  width: 80dvw;
  min-height: calc(100vh - 20px - 20px - 16px - 80px);
  padding: 1.25rem;
  margin-bottom: 1rem;
  border: 3px solid #3d8ebd;
  font-size: 1.1rem;
  box-shadow: -5px 0 5px 3px rgba(172, 164, 164, 0.5), 5px 0 5px 3px rgba(172, 164, 164, 0.5), 0 5px 5px 3px rgba(172, 164, 164, 0.5), 0 -5px 5px 3px rgba(172, 164, 164, 0.5);
}

.subtitle {
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.subtitle::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #006caa;
  position: absolute;
  left: 0;
  bottom: -50%;
}

.decorator {
  width: 100%;
  height: 20px;
  background-color: #006caa;
}

.header__container {
  width: 95%;
  max-height: 80px;
  padding: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nav__link {
  color: #333;
  font-weight: bold;
  position: relative;
}
.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #006caa;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all ease-in-out 0.1s;
}
.nav__link:hover a {
  color: #006caa;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__avatar {
  width: 40px;
  height: 40px;
}
.nav .dropdown-center {
  width: 100%;
  height: 100%;
}
.nav__avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.nav__avatar-img img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav__avatar-btn {
  width: 100%;
  height: 100%;
  border: none;
}
.nav__avatar-btn::after {
  border: none;
}
.nav__info {
  width: 40px;
  height: 36px;
}
.nav__info .dropdown-center {
  width: 100%;
  height: 100%;
}
.nav__info-btn {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url("../images/notify-normal.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.nav__info-btn::after {
  border: none;
}

.logo {
  width: 150px;
  padding: 1rem;
}
.logo__img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.custom-container div.company-aside {
  background-color: #3d8ebd;
  padding: 0;
  min-height: calc(100vh - 20px - 20px - 80px);
}

div.custom-container div.company-aside nav.nav-custom ul.nav_list {
  padding: 0;
  margin: 0;
}

div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a {
  display: block;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}
div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a:hover {
  background-color: #2e3a5b;
}
div.custom-container div.company-aside nav.nav-custom ul.nav_list > li a:active {
  opacity: 0.8;
}

.user-aside {
  max-width: 200px;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdcdc;
  border-radius: 10px;
  box-shadow: 0 0 3px #9b9999;
  margin-bottom: 1rem;
  min-height: calc(100vh - 20px - 20px - 16px - 80px);
  white-space: nowrap;
}
.user-aside__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.user-aside__item {
  font-size: 20px;
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
}
.user-aside__item:hover {
  color: #fff;
  background-color: #006caa;
}
.user-aside__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}
.user-aside__item--small {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
  margin-left: 0.5rem;
  position: relative;
}
.user-aside__item--small:hover {
  color: #006caa;
}
.user-aside__item--small a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}

.html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
}

.footer {
  width: 100%;
  height: 20px;
  bottom: 0;
  background-color: #006caa;
  color: white;
}

.custom-container {
  min-height: calc(100dvh - 20px - 110px);
}

.search-results-count {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-left: auto;
  border-radius: 5px;
}

.top {
  display: flex;
  margin-bottom: 10px;
}

.checkbox_all {
  display: flex;
  padding: 5px 0 5px 0;
}

.check_all {
  margin: 0 10px 0 10px;
}

.card {
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px #dadada;
  max-width: 100%;
  height: 10%;
  margin-left: 8px;
}

.card_word {
  float: right;
  width: 730px;
  margin: 0 45px 0 0px;
}

@media (max-width: 1400px) {
  .card_word {
    width: 580px;
  }
}
@media (max-width: 1200px) {
  .card_word {
    width: 430px;
  }
}
@media (max-width: 1000px) {
  .card_word {
    width: 230px;
  }
}
@media (max-width: 768px) {
  .card_word {
    width: 100px;
  }
}
.card-title {
  font-weight: bold;
}

.pic_style {
  max-width: 200px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.btn-primary {
  float: right;
  cursor: pointer;
}

.url_style {
  text-decoration: underline;
  font-size: 12px;
}

.weather {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 120px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  background-color: #b5d2f1;
  background-size: cover;
}

.card-body {
  position: relative;
  padding: 20px;
}

.tab {
  background-color: #b3b2b2;
  border: none;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.tab.active {
  background-color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tab-content {
  display: none;
  padding: 10px;
  background-color: #007bff;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px #accefb;
}

.tab-content.active {
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
}

.tabs {
  display: flex;
  justify-content: left;
}

#tab1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#tab1 div {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-hotel {
  width: 8.5%;
  background-color: #fff;
  border: none;
  color: #006caa;
  padding: 3px 0;
  border-radius: 0 5px 5px 0;
}

.search-location {
  font-size: 14px;
  width: 90%;
  height: 30px;
  color: #000000;
  border: none;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  padding-left: 5px;
}

.search-start {
  width: 40%;
  border: none;
  margin-right: 0.5rem;
  padding: 3px 0.5rem;
  border-radius: 5px;
}

.search-end {
  width: 40%;
  border: none;
  margin-right: 0.5rem;
  padding: 3px 0.5rem;
  border-radius: 5px;
}

.search-option {
  width: 17%;
  border: none;
  padding: 4px 0.5rem;
  border-radius: 5px;
}

.page1 {
  display: flex;
  justify-content: center;
}

.hotel {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.hotel__card {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  display: flex;
  padding: 0.5rem;
  border: 1.5px solid #007bff;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.hotel__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.hotel__img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  box-shadow: 0 0 3px #9b9999;
  border-radius: 10px;
}
.hotel__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 0.24;
  transform-origin: 0 0;
  box-shadow: 0 0 3px #9b9999;
  transition: all 0.2s ease-in-out;
}
.hotel__loading {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
}
.hotel__card:hover {
  background-color: #eee;
}
.hotel__card:hover .hotel__img img {
  scale: 0.25;
}
.hotel__title {
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}
.hotel__rank {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.hotel__rank li {
  display: inline-block;
}
.hotel__rank .fa-star {
  font-size: 24px;
  color: #eeab0f;
}
@media screen and (max-width: 992px) {
  .hotel__header {
    flex-direction: column;
  }
  .hotel__rank {
    margin-left: 0;
  }
}
.hotel__address {
  width: 100%;
  display: block;
  color: #2029f4;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5rem 0;
}
.hotel__desc {
  width: 100%;
  height: 100%;
}
.hotel__detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-top: 1rem;
}
.hotel__price {
  width: 100%;
  text-align: right;
}
.hotel__price p {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-right: 1rem;
}
.hotel__price a {
  display: inline-block;
  border: none;
  font-size: 20px;
  background-color: #006caa;
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem;
}
.hotel__price a:hover {
  background-color: #004c77;
}
.hotel__favor {
  border: none;
  position: relative;
  background-color: transparent;
  color: #006caa;
  font-size: 20px;
  font-weight: bold;
  float: left;
  vertical-align: middle;
  margin-top: 0.5rem;
}
.hotel__favor::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #006caa;
  left: 0;
  bottom: 0;
  transition: all 0.1s ease-in-out;
}
.hotel__favor:hover::after {
  width: 100%;
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
}
.not-found img {
  width: 25%;
}
.not-found::before {
  content: "未找到任何搜尋結果 :(";
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
}
.not-found::after {
  content: "請嘗試更換關鍵字";
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
  z-index: 1;
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgb(255, 255, 255);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgb(255, 255, 255), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgb(255, 255, 255), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgb(255, 255, 255), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgb(255, 255, 255), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgb(255, 255, 255), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgb(255, 255, 255), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgb(255, 255, 255), -1.8em -1.8em 0 0em #ffffff;
  }
}